.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #000 !important;
  border-color: #000 !important;
}
.ant-btn-link {
  color: #000;
}
.ant-btn-link:not(:disabled):hover {
  color: #000;
}
