.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #000 !important;
  border-color: #000 !important;
}
.ant-btn-link {
  color: #000;
}
.ant-btn-link:not(:disabled):hover {
  color: #000;
}

.ant-menu-dark {
  background-color: #020b15;
}

.ant-layout .ant-layout-header {
  padding-inline: unset;
  height: 50px;
  line-height: 50px;
  background-color: #020b15;
  color: aliceblue;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

.ant-layout-sider-children {
  position: fixed;
}
