.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #000 !important;
  border-color: #000 !important;
}
.ant-btn-link {
  color: #000;
}
.ant-btn-link:not(:disabled):hover {
  color: #000;
}

.ant-menu-dark {
  background-color: #020b15;
}

.ant-layout .ant-layout-header {
  padding-inline: unset;
  height: 50px;
  line-height: 50px;
  background-color: #020b15;
  color: aliceblue;
}

.ant-layout-content {
  padding: 20px;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

.ant-layout-sider-children {
  position: fixed;
}

.ant-menu-submenu.ant-menu-submenu-inline {
  width: 100% !important;
}

.ant-menu-title-content {
  margin-inline-start: unset !important;
}

/* 面包屑样式 */
.ant-breadcrumb,
.ant-breadcrumb-link,
.ant-breadcrumb-link > a {
  color: #fff;
  cursor: pointer;
}

.ant-breadcrumb-link > a:hover {
  color: #fff;
}
.ant-breadcrumb-separator {
  color: #fff !important;
}

.ant-table-wrapper .ant-table-pagination-right {
  justify-content: center;
}
